.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  flex-wrap: wrap;
  align-items: center;
}

.fighter-preview___right > .fighter-preview___img {
  transform: scale(-1, 1)
}

/* .fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
} */
.fighter-preview___img {
  height: 300px;
}
.fighter-details__wrapper {
  background-color: #ffdfa7;
  border: 5px solid #ba0303;
  padding: 10px 15px;
  margin: 0;
  margin-top: 40px;
}

.fighter-details__wrapper h4 {
  text-align: center;
  font-size: 24px;
}
.fighter-details__wrapper .fighter-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200px;
}

.fighter-details__wrapper .fighter-details svg {
  width: 40px;
  height: 40px;
}
.fighter-details__wrapper .fighter-detail__cell > p {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin: 0;
min-height: 65px;
}
